*{
    margin: 0px;
}
.header{
    width: auto;
    height: 250px;
    background-color: rgb(137, 247, 255);
    margin: 0px;
    padding: 0px;
    display: flex;
}
.about{
    text-align: left;
    margin: 15px;
    padding: 10px;
    
    font-size: 25px;
    color: darkviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact{
    display: grid;
    

}