*{
    margin: 0px;
}
.header{
    width: auto;
    height: 100px;
    background-color: #373e98;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
#name{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 55px;
    color: white;
    font-family: monospace;
}
#about{
    text-align: left;
    margin: 15px;
    padding: 10px;
    font-size: 25px;
    color: white;
    font-family: monospace;
}
#contact{
    text-align: right;
    margin: 15px;
    padding: 10px;
    font-size: 25px;
    color: white;
    font-family: monospace;

}
a#name:hover{
    color: yellow;
}
a{
    text-decoration: none;
}