*{
    margin: 0px;
}
.header{
    width: auto;
    height: 100px;
    background-image: url(headerphoto.svg);
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
#name{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 55px;
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#about{
    text-align: left;
    margin: 15px;
    padding: 10px;
    font-size: 25px;
    color: darkviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#contact{
    text-align: right;
    margin: 15px;
    padding: 10px;
    font-size: 25px;
    color: darkviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
a{
    text-decoration: none;
}